* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 1rem;
}
body {
  background-color: #f2f2f2;
  margin-bottom: 10%;
}

.container {
  text-align: justify;
  margin: 3%;
}

.__input--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3%;
  margin-top: 2%;
}

.table {
  margin: 0 auto;
  margin-top: 10%;
}

th,
td {
  background-color: #ffffff;
  border: solid 1px #000000;
}
